<h2 style="text-align: center; padding-bottom: 5em;"><a href="<%= root_path %>">Home</a></h2>

<p>LE PANIER. À relier avec les pages qui seront sûrement générées par la gem STRIPE.</p>

<h2 style="text-align: center; padding-top: 5em;">On conserve le footer</h2>